body {
  margin: 10px;
}

.container {
/*   background-color: #4CAF50; */
  height: 96vh;
  width: 50wh;
  display: grid;
  grid-template: 100px 100px 100px / minmax(300px, 1fr) 1fr;
  row-gap: 25px;
  column-gap: 25px;
  grid-template-areas:
    "title title"
    "board status"
    "board restart"
    ;
}

.title {
  font: 50px "Century Gothic", Futura, sans-serif;
  grid-area: title;
  display: grid;
  justify-content: center;
  align-content: end;
}

.status {
  font: 22px "Century Gothic", Futura, sans-serif;
  grid-area: status;
  display: grid;
  justify-content: left;
  align-content: center;
}

.entire-board {
  grid-area: board;
  display: grid;
  justify-content: end;
  align-content: center;
}

.board-row {
  grid-area: board;
  content: "";
  display: table;
}

.square {
  grid-area: board;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  width: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.square:focus {
  outline: none;
}

.restart-container {
  display: grid;
  grid-area: restart;
  justify-content: left;
  align-content: start;
}

.restart-button {
  grid-area: restart-container;
  background-color: #ADD8E6; 
  border: 1px solid;
  color: white;
  font: 30px "Century Gothic", Futura, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 60px;
}


